menuconfig DW3000
	bool "DW3000 Driver"
	depends on SPI
	help
		Qorvo/Decawave DW3000 driver

	choice
		prompt "Select  Chip"
		depends on DW3000

		config DW3000_CHIP_DW3000
			bool "DW3000"
		config DW3000_CHIP_DW3720
			bool "DW3720/QM33xx"
	endchoice

	config DW3000_SPI_MAX_MHZ
        int "DW3000 Max SPI speed in MHz"
        default 32

module = DW3000
module-str = dw3000
source "subsys/logging/Kconfig.template.log_config"
