# Copyright (c) 2021 Callender-Consulting, LLC
# SPDX-License-Identifier: Apache-2.0

if SHIELD_QORVO_DWS3000

config SPI
	default y

config GPIO
	default y

config DW3000
	default y

endif # SHIELD_SHIELD_QORVO_DWS3000
